name: Run EBD_amame and r_EBD_huhn
on:
  push:
    branches:
      - master
    paths:
      - 'edi_energy_de/**/*.docx'
      - 'ebd-tooling/**'
      - '.github/workflows/ebdamame_rebdhuhn.yml'
jobs:
  check:
    name: Scrape ${{ matrix.output }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - docx: edi_energy_de/FV2510/EBD_4.1_20260116_20260331_20260116_xoxx_12043.docx
            output: FV2510
          - docx: edi_energy_de/FV2604/EBD_4.2_20260401_99991231_20251211_oxox_12000.docx
            output: FV2604
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          path: edi_energy_mirror
          lfs: true
      - uses: actions/checkout@v5
        with:
          # token expires 2026-05-16; has repo and read:packages scope
          token: ${{ secrets.MREBD_PUSH_TOKEN }}
          repository: Hochfrequenz/machine-readable_entscheidungsbaumdiagramme
          path: machine-readable_entscheidungsbaumdiagramme
      - name: login to GHCR
        # token expires 2026-05-16; has repo and read:package scope
        run: echo "${{ secrets.GHCR_PWD }}" | docker login ghcr.io -u ${{ secrets.GHCR_USR }} --password-stdin
      - name: Run Extraction
        working-directory: edi_energy_mirror/ebd-tooling
        env:
          EBD_DOCX_FILE: ../${{ matrix.docx }}
          OUTPUT_DIR: ../../machine-readable_entscheidungsbaumdiagramme/${{ matrix.output }}
        run: docker compose up --abort-on-container-exit
      - name: Get current time
        uses: srfrnk/current-time@master
        id: current-time
        with:
          format: YYYY-MM-DDTHH-mm-ss
          # we use this to have unique branch names
      - name: Push EBD files to machine-readable_entscheidungsbaumdiagramme
        uses: peter-evans/create-pull-request@v7
        with:
           path:  machine-readable_entscheidungsbaumdiagramme
           title: EDI@Energy ebd_amame & r_ebd_huhn changes (Triggered by ${{ github.event.head_commit.message }})
           token: ${{ secrets.MREBD_PUSH_TOKEN }} # this token expires on 2025-10-27
           # token with repo scope
           # https://github.com/Hochfrequenz/edi_energy_mirror/settings/secrets/actions/MREBD_PUSH_TOKEN
           branch: update-${{ steps.current-time.outputs.formattedTime }}
           reviewers: deltadaniel
           assignees: deltadaniel
